
<!doctype html>
<title>Uploaded the file</title>
<head>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
</head>
<body>
	<h2> <font color="green">{{ filename }}</font> is uploaded. Transcoding .... </h2>
	<h3><font color="red">Please wait for a while to run Shotgun AMI </font></h3>
	<h3> Forge URN: <font color="blue">{{ forge_urn }} </font> </h3>
	<input type="hidden" name="forge_urn" id="forge_urn" value="{{ forge_urn }}">
	<div id="log">
	</div>  
	<div id="emit_data">
	</div>  
	<div id="broadcast_data">
	</div>  

	<script>
		$(document).ready(function(){
			// var allowedOrigins = "wss://"+document.domain+":*, https://"+document.domain+":*";
			// var socket = io.connect('https://' + document.domain + ':' + location.port + '/forge_urn_status', {transports: ['xhr-polling']});
			var socket = io.connect('https://' + document.domain + ':' + location.port + '/forge_urn_status');

			socket.on('forge response', function(msg) {
				$('#log').append('<p>Connection Status: ' + msg.data + '</p>');
			});

			socket.emit('forge event', {data: "{{ forge_urn }}"});

			socket.on('forge message', function(msg){
				$('#log').append('<p>Conversion Status: ' + msg.data + '</p>');
				// emit('my event', {data: msg.data});
			});

		});
	</script>
</body>